<h2>登録してみ</h2>

<%= render 'shared/error_messages', model: f.object %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="new_field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="new_field_group">
    <div class="new_field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "new-name" %>
    </div>

    <div class="new_field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="new_field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="new_actions">
      <%= f.submit "登録" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
