<%= render "shared/header" %>

<div class="container_new">
  <div class="upload-form">
    <h2>動画をアップロード</h2>
    <%= form_with(model: @movie, url: movies_path, method: :post, local: true, multipart: true) do |f| %>
      <div class="form-group">
        <%= f.label :movie_url, "動画URL" %>
        <%= f.text_field :movie_url, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :lyrics, "歌詞" %>
        <%= f.text_area :lyrics, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :team_id, "チーム" %>
        <%= f.collection_select :team_id, Team.all, :id, :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :player, "選手" %>
        <%= f.text_field :player, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :stadium_id, "球場" %>
        <%= f.collection_select :stadium_id, Stadium.all, :id, :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :day, "投稿日" %>
        <%= f.date_select :day, {order: [:year, :month, :day], use_month_names: %w(1 2 3 4 5 6 7 8 9 10 11 12)} , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :text, "その他" %>
        <%= f.text_field :text, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "アップロード", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
